<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="/assets/images/favicon.ico">
      <link rel="apple-touch-icon" href="/assets/images/favicon.ico">
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="/assets/css/style.css">
      <link rel="stylesheet" href="/assets/css/fa-all-icon.css">
      <link href="/assets/css/owl.carousel.min.css" rel="stylesheet">
      <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet">
      <link rel="stylesheet" media="screen" href="/assets/css/mobile.css">
      <link rel="stylesheet" media="screen" href="/assets/css/font.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>dom</title>
      <!-- Primary Meta Tags -->
      <meta name="title" content="dom">
      <meta name="description" content="dom is a list of the best design restaurants and bars in Adelaide for coffee, breakfast, lunch, dinner and drinks">
      <meta name="facebook-domain-verification" content="dom" />
      <meta name="author" content="">
      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="profile">
      <meta property="og:url" content="">
      <meta property="og:title" content="dom">
      <meta property="og:description" content="">
      <meta property="og:image" content="">
      <!-- Twitter -->
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="">
      <meta property="twitter:title" content="dom">
      <meta property="twitter:description" content="">
      <meta property="twitter:image" content="">
   </head>